body {
  font-family: arial, courier;
}

.container {
  margin: 0 auto;
  width: 80%;
}

main {
  background-color: #EDE;
  color: #868;
  padding: 1em;
}

h5 {
  text-align: center;
  font-weight: bold;
}

.amb_body {
  background-color: #000;
}

.amb_common {
  min-width: 400px;
  background-color: #fff;
  color: #000;
  text-align: left;
}

.amb_header {
  background-color: #fff;
  color: #000;
  text-align: left;
}

.amb_img {
  border-radius: 3px 3px 3px 3px;
  opacity: 0.9;
}

.amb_indent {
  margin-left: 1em;
}
.apapierniak {
  background-color: #ddd;
  text-align: center;
}

.apapierniak h2 {
 
  text-decoration: underline;
}
#banderson_wrapper h1 {
  font-weight: 600;
  font-size: 18px;
  padding: 5px;
}

#banderson_wrapper h3 {
  font-weight: 600;
  font-size: 16px;
  padding: 5px;
}

#banderson_wrapper header {
  border-bottom: 1px solid black;
}

.bdawson6_wrapper {
  border-style: solid;
  border-width: 2px;
  width: 20%;
}

.bdawson6_wrapper > h2{
  text-decoration: underline;
}

#billy_wrapper {
  background-color: #f87531;
  text-align: center;
}

#bpoppe_Header {
  text-align: center;
  font-size: 20px;
  height: 145px;
}

#bpoppe_Wrapper {
  margin: auto;
  background-color: #F8ECC2;
  width: 75%;
  padding: 10px;
  box-shadow: -15px 15px 30px  #000;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

.bpoppeShift {
  float: right;
  padding-right: 5px;
  text-align: left;
}

#bpoppe_Wrapper ul li {
  list-style-type: none;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-left: -25px;
}

#bpoppe_Wrapper h3 {
  border-bottom: 2px solid black;
  padding-top: 15px;
  font-size: 25px;
}

#DeeDee_wrapper{
  background-color: #414141;
  color: #fff;
  text-align: center;
}

#djones_wrapper h1 {
  font-weight: bold;
  font-size: 18px;
  padding: 5px;
}

#djones_wrapper h3 {
  font-weight: bold;
  font-size: 16px;
  padding: 5px;
}

#djones_wrapper header {
  border-bottom: 1px solid black;
}

#dsWrapper {
  background: rgba(0, 0, 0, 0.125);
  border: 1px solid #666;
  box-shadow: 1px 1px 5px #888;
  max-width: 1024px;
  margin: 0 auto;
  min-height: 768px;
  width: 100%;
}

#dsWrapper h1,h2,#dsWrapper>ul {
  margin: 2% 5%;
}

#dsWrapper h1, #dsWrapper h2 {
  margin-left: 10%;
}

#dsWrapper h5 {
  text-align: center;
}

#dsWrapper h5 a {
  color: #444;
}

#dsWrapper > hr {
  width: 90%;
}

#dsWrapper section {
  text-align: center;
  font-size: 2em;
  border-bottom: 1px solid #666;
}

#jallegro_wrapper {
  background: rgba(0, 0, 0, .8);
  color: #fff;
  margin: 0 auto;
  width: 960px;
}

.jWoods {
  background-color: Beige;
  color: DarkBlue;
}

#mark_body{
  background-color: #888;
  border: solid;
  border-color: #000;
  border-width 3px;
  text-align: center;
  width: 700px;
}

#mark_wrapper{
  background-color: #eee;
  padding: 20px;
}

#mark_wrapper h1,
#mark_wrapper h2,
#mark_wrapper h3,{
  margin: 0;
  padding: 10px;
}

#mark_wrapper h1{
  background-color: #999;
}

#mark_wrapper h2{
  background-color: #bbb;
}

#mark_wrapper h3{
  background-color: #ddd;
  padding: 5px;
}

#mark_wrapper ul{
  list-style: none;
}

#mbeck_body {
  border: solid;
  border-color: black;
  border-width: 2px;
  width: 660px;
}

#mbeck_body {
  border: solid;
  border-color: black;
  border-width: 2px;
  width: 660px;
}

#mbeck_edudiv {
  border-bottom: solid;
  border-top: solid;
  border-width: thin;
  padding-left: 5px;
}

#mbeck_h1 {
  text-align: center;
}

#mbeck_techdiv {
  padding-left: 5px;
}

#mforschler_body {
  background-color: #493D26;
  color: #728C00;
  width: 960px;
  margin: 0 auto;
  text-align: left;
  text-shadow: 2px 1px 1px rgba(39, 44, 39, 1);
}

#mforschler_h1 {
  text-align: center;
}

#mvolk1_body {
  background-color: #F1F1D4;
}

.mvolk1_bold {
  font-weight: 700;
}

#mvolk1_wrapper {
  border: 2px solid #000;
  height: 90%;
  margin: 0px auto;
  padding: 2px;
  width: 90%;
}

#nelson_bd {
  background-color: #F8F8F8;
}

#nelson_wrapper {
  color: #33C;
  width: 900px;
  margin: 0 auto;
}

#nelson_contact {
  margin-left: 20px;
  margin-top: -10px;
}

.phan_school {
  color: orange;
  font-style: italic;
}

.phan_work {
  color: orange;
  text-decoration: underline;
}

.phan_wrapper {
  background-color: rgba(192, 129, 129, .4);
  border: 2px dotted orange;
}

#sectionLM {
  background-color: #000033;
  color: #D65930;
  padding: 2em;
}

#sschlinsogExperience {
  font-size: 20px;
}

#sschlinsogEducation {
  font-size: 20px;
}

#sschlinsogSkills {
  font-size: 20px;
}

#sstearns3_body {
  background-color: #C0C0C0;
  border-style: solid;
  border-width: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 700px;
}

#sstearns3_body h2 {
  text-decoration: underline;
}

#tottoWrapper {
  background: rgba(1, 1, 1, 0.5);
  border-color: #aa1111;
  border-style: solid;
  width: 80%;
  margin: 0 auto;
}

#tottoWrapper h5 {
  text-align: center;
}

#totto h5 a {
  color: #050505;
  text-decoration: none;
}

#tottoWrapper section {
  box-shadow: 1px 1px 3px #fff;
  text-align: center;
}

#qle {
  color: #0000FF;
  text-align: center;
}

#quang_wrapper {
  color: red;
  background-color: #C0C0C0;
  padding: 0;
}

#egwiazda_wrapper {
  color: red;
  background-color: #0000FF;
}

#dschmidt_wrapper {
  background-color: #414141;
  color: #fff;
}

.cbutterfield7 {
  background-color: #39765e;
  text-align: center;
}

.cbutterfield7 h2 {
  margin: 0;
  text-decoration: underline;
}

#zsolofra_body {
  background-color: #0099FF;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 800px;
}

#kolsen_body{
  background-color: #dddabd;
  text-align: left;
}

#miller_wrap {
  background-color: #c4cddb;
  border: solid 1px #000;
  font-family: 'CordiaUPC';
  font-size: 20px;
  letter-spacing: 0.4px;
  margin: 0 auto;
  padding-left: 20px;
  text-align: left;
  width: 550px;  
}

#miller_contact, #miller_education, #miller_workxp, #miller_wrap h1, #miller_wrap h2, #miller_wrap h3, #miller_wrap li, #miller_wrap ul { 
  margin: 0;
  padding: 0;
}

#miller_wrap h1 { text-decoration: underline; }

#miller_contact, #miller_education, #miller_workxp {
  list-style-type: none;
  padding-left: 25px;
}

#miller_workxp h3 {
  margin-top: 0;
}

#miller_workxp li, #miller_education li {
  list-style-type: none;
  padding-left: 20px;  
}

#cknapp_body{
 background-color:#CC6600;
 text-align: center;
 width: 800px;
}
#cknapp_body p{
  padding:0;
  margin:0;
}

#cody_wrapper h1, h2, h3, h4{
  margin: 0;
  padding: 1px;
}

#cknapp_body ul{
  list-style-type: none;
}

.avahey_wrap ul li{
  list-style-type: none;
}

#steven_body {
  background-color: blue;
}