body {
  font-family:arial, courier;
}

section {
  background-color: #EDE;
  padding:1em;
  color: #868;
}

#banderson_wrapper ul{
}

#banderson_wrapper h1{
   font-weight: 600;
   font-size: 18;
   padding: 5px;
}

#banderson_wrapper h3{
   font-weight: 600;
   font-size: 16;
   padding: 5px;
}

#banderson_wrapper header{
   border-bottom: 1px solid black;
}

#mforschler_body {
    background-color: #493D26;
    color: #728C00;
    width: 960px;
    margin:0 auto;
    text-align: left;
    text-shadow: 2px 1px 1px rgba(39, 44, 39, 1);
}

#mforschler_h1 {
    text-align:center;
}


