body {
  font-family:arial, courier;
}

section {
  background-color: #EDE;
  padding:1em;
  color: #868;
}

#banderson_wrapper ul{
}

#banderson_wrapper h1{
   font-weight: 600;
   font-size: 18;
   padding: 5px;
}

#banderson_wrapper h3{
   font-weight: 600;
   font-size: 16;
   padding: 5px;
}

#banderson_wrapper header{
   border-bottom: 1px solid black;
}

#mforschler_body {
    background-color: #493D26;
    color: #728C00;
    width: 960px;
    margin:0 auto;
    text-align: left;
    text-shadow: 2px 1px 1px rgba(39, 44, 39, 1);
}

#mforschler_h1 {
    text-align:center;
}

#billy_wrapper{
  background-color:#f87531;
  text-align: center;
}

#dsWrapper {
  background: rgba(0,0,0,0.125);
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  min-height: 768px;
  border: 1px solid #666;
  box-shadow: 1px 1px 5px #888;
}

#dsWrapper h1, h2, #dsWrapper > ul {
  margin: 2% 5%;
}

#dsWrapper h1, h2 {
  margin-left: 10%;
}

#dsWrapper h5 {
  text-align: center;
}

#dsWrapper h5 a {
  color: #444;
}

#dsWrapper > hr {
  width: 90%;
}

#dsWrapper section {
  text-align: center;
  font-size: 2em;
  border-bottom: 1px solid #666;
}

#tottoWrapper{
  background: rgba(1, 1, 1, 0.5);
  border-style: solid;
  border-color: #aa1111;
  width: 80%;
  margin: 0 auto;
}

#tottoWrapper h5{
  text-align: center;
}

#totto h5 a{
  color: #050505;
  text-decoration:none;
}

#tottoWrapper section{
  text-align: center;
  box-shadow: 1px 1px 3px #fff;
}

#sectionLM{
	background-color: #000033;
	padding:2em;
	color: #D65930;
}

#quang_wrapper {
  color: red;
  background-color: #C0C0C0;
  padding: 0;
}

#qle {
  color: #0000FF;
  text-align: center;
}
  
#sstearns3_body {
	text-align: center;
	background-color: #C0C0C0;
	border-style: solid;
	border-width: 5px;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}

#sstearns3_body h2 {
text-decoration: underline;
}

#jallegro_wrapper{
  background: rgba(0,0,0,.8);
  color: #fff;
  width: 960px;
  margin: 0 auto;
}
